.gitlab_toc {
  background-color: #ffffdd;
  position: fixed !important;
  top: 10em;
  left: 60%;
  z-index: 999;
  max-height: 60%;
  max-width: 25%;
  padding: 10px;
  padding-left: 0;
  overflow: hidden auto;
}

.nav.gitlab_toc_ul,
.gitlab_toc_ul {
  display: block;
}

/* All levels of nav */
.gitlab_toc .nav > li > a {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #767676;
}
.gitlab_toc .nav > li > a:hover,
.gitlab_toc .nav > li > a:focus {
  padding-left: 19px;
  color: black;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid black;
}
.gitlab_toc .nav > .active > a,
.gitlab_toc .nav > .active:hover > a,
.gitlab_toc .nav > .active:focus > a {
  padding-left: 18px;
  font-weight: bold;
  color: black;
  background-color: transparent;
  border-left: 2px solid black;
}

/* Nav: second level (shown on .active) */
.gitlab_toc .nav .nav {
  /* Hide by default, but at >768px, show it */
  /* display: none;  */
  display: block;
  padding-bottom: 10px;
}
.gitlab_toc .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: normal;
}
.gitlab_toc .nav .nav > li > a:hover,
.gitlab_toc .nav .nav > li > a:focus {
  padding-left: 29px;
}
.gitlab_toc .nav .nav > .active > a,
.gitlab_toc .nav .nav > .active:hover > a,
.gitlab_toc .nav .nav > .active:focus > a {
  padding-left: 28px;
  font-weight: 500;
}

/* .gitlab_toc .nav > .active > ul {
  display: block;
} */
